---
import Layout from "../../layouts/Layout.astro";
import Alert from "../../components/alert.astro";
import FullGallery from "../../components/fullGallery.astro";
---

<Layout>
  <Alert />

  <section
    class="flex flex-col items-center justify-center  pb-8 pt-16 md:py-20"
  >
    <h1
      class="text-center font-title text-2xl sm:text-3xl md:text-6xl lg:text-8xl"
    >
      Gallery
    </h1>
    <FullGallery />
  </section>
</Layout>
