---
---
<footer class="mt-auto bg-gray-100 border-t border-gray-300 py-4 text-center">
    <p>&copy; {new Date().getFullYear()}</p>
    <p>
      Powered by <a href="https://astro.build" class="text-blue-500 hover:underline">Astro</a>
    </p>
  </footer>
  