---

---

<footer class="mt-auto py-10 flex justify-center bg-black text-center text-white">
  <p>&copy; {new Date().getFullYear()}</p>
  <p>
    Powered by <a
      href="https://www.dillonwalsh.com"
      target="_blank"
      class="text-blue-500 hover:underline">Dillonpw</a
    >
  </p>
</footer>
