---
import Card from "./ui/card";
---

<section class="container mx-auto px-4 py-8 md:py-20">
  <div
    class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4"
  >
    {
      Array.from({ length: 9 }).map((_, index) => (
        <Card
          size="xl"
          color="accent"
          className="flex flex-col items-center justify-center w-full"
        >
          <a href={`/gallery/${index + 1}`} class="w-full">
            <div class="h-[300px] w-full animate-pulse bg-gray-200" />
          </a>
        </Card>
      ))
    }
  </div>
</section>